*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #2378e7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-position: 85%;
    background-position-y: 245px;
    background-size: 75vh;
    background-repeat: no-repeat;
}
/* Header || Top Navigation Bar */
.content h1 {
    padding: 25px;
    text-align: center;
    margin-top: 20px;
    font-size: 30px
}
.fa-regular, .fa-solid, .far, .fas {
    color: #FFF;
}

.hover-link {
    background-color: rgb(0, 0, 0); 
    color: black;
}

.hover-link:hover {
    background-color: rgb(0, 0, 0); /* Keep the same background color on hover */
    color: #000000; /* Keep the same text color on hover */
}
/* This ends the Top Navigation */
/* Side Navigation Bar */
.wrapper{
    display: flex;
    top: 80px;
}

.wrapper .sidebar {
    width: 200px;
    height: auto; 
    top: 80px;
    background: skyblue;
    padding: 30px 0px;
    position: absolute;
    bottom: 0; 
    font-weight: bold;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    
}


.wrapper .sidebar ul li a{
    position: relative;
    left: 15px;
    color: #fff;
    display: block;
}

.wrapper .sidebar p{
    position: relative;
    left: 5px;
    color: rgba(255,255,255,0.5);
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background-color: rgb(61, 139, 240)
}

.wrapper .sidebar ul li:hover a{
    color: #000000;
}

.dropdown .sub-menu {
    display: none;
    padding-left: 20px;
}

.dropdown:hover .sub-menu {
    display: block;
}

/* Style for dropdown arrow */
.wrapper .dropdown-toggle:after {
    content: '\f107'; /* Unicode for right arrow (you can change it to any arrow icon you prefer) */
    font-family: FontAwesome; 
    float: right;
    margin-top: 2px;
}

/* Style for sub-menu items */
.wrapper .sub-menu li {
    list-style: none;
    padding: 5px 0;
}

.wrapper .sub-menu li a {
    color: #000000;
    text-decoration: none;
}

.wrapper .sub-menu li a:hover {
    color: #2e87e7; 
}


/* This ends the side navigation */

/* contents */
.btn-success{
    color: black !important;
}

.btn-info{
    color: black !important;
}
.btn-danger {
    color: black !important;
}
#author-add{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: white !important;
    display: flex;
    width: 40px;
    height: 40px;
    border-color: #00B0FF;
    background-color: #00B0FF;
}
#author-delete {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: white !important;
    display: flex;
    width: 40px;
    height: 40px;
    border-color: #FF0000;
    background-color: #FF0000;
}

button {
    background-color: lightblue;
    border: none;
    /*position: absolute;*/
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
    width: 30%;
    padding: 25px;
    font-size: 25px;
    border-radius: 14px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}

.button-container {
    display: inline-block; /* Display divs inline */
    margin-right: 2px; /* Adjust spacing between buttons */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container form {
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container box{
    width: 750px;
    position: relative;
}
.container table {
    background-clip: padding-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 175vh;
}
.container h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    justify-content: flex-start; /* Align cards to the left */
    align-items: flex-start; /* Align cards to the top */
    margin-right: 20px; /* Add some right margin between the username and cards */
}

.card-box {
    position: relative;
    left: 225px;
    height: 175px;
    width: 390px;
    background-color: white; /* Background color of the card */
    border-radius: 10px; /* Rounded corners for the card */
    padding: 20px; /* Padding for the card content */
    margin: 20px 10px; /* Margin between cards */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for the card */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}
.card-box li {
    position: relative;
    top: 26px;
    left: 275px;
    width: fit-content;
}

.card-box:hover {
    /* Background color on hover */
    background: rgb(255, 199, 44) linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
}
.card-box:hover::before {
    content: none; /* Remove the background image on hover */
}
.card-link {
    text-decoration: none;
    cursor: pointer; /* Change the cursor to a pointer */
    color: inherit; /* Inherit text color */
}
thead th {
    text-align: center;
}
.icon img {
    position: relative;
    left: 35px;
    width: 34px;
    height: auto;
}
.document-content {
    margin-right: -200px; /* Push the content to the right */
    margin-bottom: 60px;
}
.shorten-column {
    max-width: 150px; /* Adjust the maximum width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagination-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}
.pagination a.active {
    background-color: #007bff; /* Highlight color for the active page */
    color: #fff; /* Text color for the active page */
    border: 1px solid #007bff;
    padding: 6px 12px;
}

.link-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.link-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 6px;
    font-size: 17px;
    border-radius: 3px;
    display: inline-block;
    justify-content: space-between;
}
section {
    position: relative;
}
.form-box {
    display: block;
    width: 38%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.container-form{
    margin-left: 245px;
    position: relative;
    display: inline-block;
    justify-content: center;
    max-width: 1620px;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row {
    display: flex;
    justify-content: space-between;
}
.col-md-6 {
    flex: 0 0 48%; /* Adjust the width as needed */
}
#keywords {
    max-width: 180px; /* Adjust the maximum width as needed */
}
#author{
    max-width: 250px;
}
#pdf{
    position: relative;
    max-width: 230px;
}
#video{
    position: relative;
    max-width: 230px;
}
#zip{
    position: relative;
    max-width: 230px;
}
.form-box {
    display: block;
    width: 70%;
}
.input-name {
    display: flex;
    justify-content: space-between;
}
.input-name input {
    width: 48%; /* Adjust the width as needed */
}
.input-button-group {
    display: flex;
    align-items: center;
}
.input-button-group input[type="file"] {
    flex: 1; /* Allow the file input to grow and take available space */
}
.input-button-group .btn-view {
    position: relative;
    top: -3.5vh;
    left: 15vh;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.container-fluid.text-center .btn {
    left: 85vh;
    width: 20vh;
}
/* Add this CSS to center-align the buttons */
.col.text-center {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.row .text-center {
    position: relative;
    top: -4vh;
    left: -20vh;
}
/* This ends the content */


/* Media Queries */
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 15px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    .logo-title {
        transition: all 0.2s ease-in-out;
        display: none;
    }
}
