<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Error </title>

    <style>

        .btn :hover {
            background-color: white;
            color: black;
            border: 1px solid #000;
        }

        .btn:hover {
            background-color: #4682b4;
            color: white;
        }

        body {
            background-color: #4682b4;
        }

        .button-warning pure-button {
            text-align: center;
            margin-top: 200px;
            margin-bottom: 300px;
            margin-left: 700px;
        }
        .formula-block {
            align-items:center;
            justify-content:center;
            display: flex;
            vertical-align:middle;
            margin-top: 300px;
            text-align: center;
            background-color: white;
            height: 500px;
            border: 1px solid white;
            box-shadow: 1px 1px white;
            position: relative;
            margin: 0 auto;
	        padding: 10px;
            width: 500px; /* or any other width */
        }

        .btn {
	        font-weight: bold;
	        font-size: 15px;
	        padding: 15px 30px;
            position: center;
            bottom: 4em;
        }

        .errormsg {
           margin: auto;
	       padding: 10px;
	       margin: auto;
	       height: max-content;
	       width: 400px;
        }

        .errortitle {
            width: 500px;
            font-weight: bold;
	        padding: 10px;
	        width: 300px;
	        vertical-align:middle;
	        margin: auto;

        }

        .errorcontent {
            width: 400px;
            font-size: 15px;
	        padding: 15px;
	        margin: 5px;
        }

    </style>
</head>
<body>
<br><br>


<div class="formula-block centered" id="587d6b07c89e7613846a3cf3">
    <div class="errormsg">
	    <h1 class="errortitle"> Oh no, something went wrong </h1>
	    <p class="errorcontent"> Don't worry it is not your fault. Click the button below and try again. If the problem persists, contact us. We apologize for the inconvenience this may have caused. </p>
    
    </div>
</div>

</body>
</html>
